

/*import fonts from font.css file*/
@import url(./font.css);



/*start navigation*/
.header_area.main-menu.navbar.navbar-brand{
padding: 0 2rem 0 9rem;
}

.header_area.main-menu.navbar{
padding:1rem 20rem;
    }

    .header_area.main-menu.nav-item.nav-link{
        font-family: "Roboto",cursive;
    }









/*end navigation*/
